In [1]:
#import the requests library and download the webpage of interest

import requests
page=requests.get("https://www.worldometers.info/coronavirus/#countries")
page

In [2]:
#import the BeautifulSoup library to parse the conetnts of downloaded page

from bs4 import BeautifulSoup
soup=BeautifulSoup(page.content, 'html.parser')

#find tag of interest using id/css selectors 
corvid_details= soup.find(id='main_table_countries_today')
actuals=corvid_details.find('tbody')

In [6]:
#create empty lists which will be used to append the row(tr) and cell details(td) from the downloaded page

A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
H=[]
I=[]
J=[]

for row in actuals.find_all("tr"):
    cells=row.find_all('td')
    if len(cells)==10:
        A.append(cells[0].find(text=True))  
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))
        E.append(cells[4].find(text=True))
        F.append(cells[5].find(text=True))
        G.append(cells[6].find(text=True)) 
        H.append(cells[7].find(text=True))
        I.append(cells[8].find(text=True))
        J.append(cells[9].find(text=True))

In [7]:
#combine the data into a pandas dataframe

import pandas as pd
cases=pd.DataFrame(A, columns=['Country, Other'])
cases['Total Cases']=B
cases['New Cases']=C
cases['Total Deaths']=D
cases['New Deaths']=E
cases['Total Recovered']=F
cases['Active Cases']=G
cases['Serious/Critical']=H
cases['Tot Cases/1M pop']=I
cases['Tot Deaths/1M pop']=J

In [8]:
cases.head()

,"Country, Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious/Critical,Tot Cases/1M pop,Tot Deaths/1M pop
0,USA,"215,344",+341,"5,112",+10,"8,878","201,354","5,005",651,15
1,Italy,"110,574",None,"13,155",None,"16,847","80,572","4,035","1,829",218
2,Spain,"104,118",None,"9,387",None,"22,647","72,084","5,872","2,227",201
3,Germany,"77,981",None,931,None,"19,175","57,875","3,408",931,11
4,France,"56,989",None,"4,032",None,"10,935","42,022","6,017",873,62

In [10]:
#write to excel
cases.to_excel('corona_outbreak_cases.xlsx')